@import '../../../variables/style.vars.scss';

.calculatorContainer {
	// margin-bottom: 10px;
}

.topContainer {
	border-bottom: 1px solid #cccccc;
}

.mainContainer {
	display: grid;
	grid-template-columns: 200px 1fr;
	align-items: start;
	justify-content: space-between;

	// & > div:first-child {
	// 	padding: 20px;
	// 	@media screen and (max-width: 1499px) {
	// 		padding: 15px;
	// 	}
	// }
	// & > div:last-child {
	// 	padding: 20px 20px 0 20px;
	// 	@media screen and (max-width: 1499px) {
	// 		padding: 15px 0 15px 0;
	// 	}
	// }
}

.selectWrapper {
	background: #f9f6f9;
	text-align: center;
	margin: 5px 0;
	padding: 10px;
	border-radius: 7px;

	span {
		font-size: 13px;
		margin-left: 15px;
		margin-right: 5px;
	}
	@media screen and (max-width: 1249px) {
		margin-top: 20px;
		width: 100%;
		span {
			margin-left: 0;
		}
	}
	select {
		padding-left: 10px;
		height: 38px;
		font-size: 15px;
		width: 90%;
		border: 1px solid silver;
		background: #fcfcfc;
	}
}

.aside {
	height: 100%;
	// margin-top: 5px;
	// margin-bottom: 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 24px !important;
	font-style: italic;
	// border-radius: 15px;
	background: #61626b;
}

.main {
	height: 100%;
	// margin-top: 5px;
	// margin-bottom: 15px;
	// padding: 15px;
	// border-radius: 15px;
	// border: 1px solid $darkGray;
	background: #ccc;

	// position: relative;
	// top: 0;
}
