.container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-column-gap: 30px;

	padding: 20px 15px 25px 15px;
	border-radius: 15px;

	@media screen and (max-width: 1279px) {
		grid-template-columns: 1fr;
	}
}
