@import '../../../variables/style.vars.scss';

.header {
	padding-left: 15px;
	padding-right: 15px;
	background: $darkGray;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	justify-content: start;

	.mainLink {
		display: flex;
		align-items: center;
	}
}

.imgWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	&:hover {
		cursor: pointer;
	}
	img {
		margin: 0 auto;
		display: block;
		width: 30px;
	}
}

.types {
	padding: 10px 0;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	.linkBtn {
		box-sizing: border-box;
		text-decoration: none;
		color: #1b1b1b;
		text-transform: uppercase;
		padding: 5px 20px;
		border-radius: 5px;
		border: 1px solid #94d629;
		background: transparent;
		color: #fff;
		font-size: 12px;
		line-height: 1.5;

		&:hover {
			cursor: pointer;
		}
		&.active {
			background: #94d629;
		}
	}
}

.title {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 22px;
	font-family: 'Merienda', cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
