.container {
	display: grid;
	grid-template-rows: auto 1fr;
	position: relative;
	padding: 0 60px;
	width: 100%;
	padding: 30px 55px;
	height: 100%;
	.blocktitle {
		font-size: 16px;
		margin-bottom: 15px;
		.title {
			font-size: 22px;
			font-weight: bold;
			color: #61626b;
		}
	}
	.article {
		height: 100%;
		// padding: 20px 15px 25px 15px;
		// border: 1px solid #ccc;
		// border-radius: 15px;
	}
}

// 	a,
// 	a:hover {
// 		font-size: 16px;
// 		font-weight: 500;
// 		color: #1b1b1b;
// 		text-decoration: none;
// 	}

// 	@media screen and (max-width: 1440px) {
// 		.calculator-container {
// 			grid-template-rows: auto 1fr;
// 		}
// 	}

// 	.blocktitle {
// 		font-size: 30px;
// 		font-weight: 500;
// 		// padding-bottom: 15px;
// 		line-height: 1.5;
// 	}

// 	//.blocktitle {
// 	//  border-left: 3px solid #93d629;
// 	//  border-bottom: 3px solid #93d629;
// 	//  border-radius: 0 0 0 20px;
// 	//  padding: 0 30px 10px 30px;
// 	//  display: inline-block;
// 	//}
// 	//.blocktitle-main {
// 	//  font-size: 24px;
// 	//  line-height: 1.5;
// 	//  color: #1b1b1b;
// 	//  font-weight: 500;
// 	//}

// 	.top-container {
// 		margin-top: 40px;
// 		display: flex;
// 		align-items: center;
// 	}

// 	.main-container {
// 		margin-top: 50px;
// 	}

// 	.category-list {
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: flex-start;
// 		grid-auto-columns: auto;
// 	}

// 	.plus-card {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;

// 		margin-left: 10px;
// 		margin-right: 10px;
// 		margin-bottom: 20px;

// 		border: 2px solid #93d629;
// 		border-radius: 20px;

// 		padding: 20px 30px;
// 		width: 184px;
// 		@media screen and (max-width: 1299px) {
// 			width: 174px;
// 		}
// 		img {
// 			width: 50px;
// 		}
// 		min-height: 200px;

// 		&:hover {
// 			cursor: pointer;
// 		}
// 	}

// 	.category-card {
// 		margin-left: 10px;
// 		margin-right: 10px;
// 		margin-bottom: 20px;

// 		min-height: 200px;

// 		position: relative;

// 		button.edit {
// 			width: 120px;
// 			padding: 5px 10px;
// 		}

// 		&:hover,
// 		button:hover {
// 			cursor: pointer;
// 		}

// 		border: 2px solid #93d629;
// 		border-radius: 20px;
// 		display: grid;
// 		grid-template-rows: 1fr 40px;
// 		align-items: center;
// 		grid-row-gap: 30px;
// 		justify-content: center;
// 		padding: 20px 30px;
// 		width: 184px;
// 		@media screen and (max-width: 1399px) {
// 			width: 164px;
// 		}
// 		img {
// 			width: 120px;
// 			max-width: 100%;
// 		}
// 		.name {
// 			text-align: center;
// 		}
// 	}

// 	table {
// 		margin-bottom: 40px;
// 	}

// 	table td,
// 	table,
// 	th {
// 		text-align: center;
// 		border: 1px solid silver;
// 		padding: 10px 20px;
// 	}

// 	th:last-child {
// 		border: none;
// 	}

// 	.small-plus-wrapper {
// 		display: flex;
// 		justify-content: flex-end;
// 		img {
// 			width: 50px;
// 			&:hover {
// 				cursor: pointer;
// 			}
// 		}
// 	}
// }

// .modal-wrapper {
// 	height: calc(100vh - 65px);

// 	position: absolute;
// 	z-index: 2;
// 	width: 100%;
// 	left: 0;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	align-content: center;
// }

// .modal {
// 	position: relative;
// 	width: 500px;
// 	//  left: calc(50% + 250px);
// 	background: #ffffff;
// }

// .modal .form {
// 	width: 100%;
// 	padding: 20px;
// }

// .modal .form .right {
// 	position: relative;
// 	width: 100%;
// }

// .form {
// 	display: flex;
// 	flex-direction: row;
// 	height: 50%;
// 	width: 50%;
// 	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
// 	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
// 	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
// }

// button.pop-up-close {
// 	position: absolute;
// 	z-index: 2;
// 	right: 15px;
// 	padding: 5px 10px;
// 	&:hover {
// 		cursor: pointer;
// 	}
// }

// .right {
// 	width: 70%;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	align-content: center;
// }

// .right .header {
// 	font-weight: 700;
// 	font-size: 20px;
// 	margin-bottom: 30px;
// 	color: #2a2a2a;
// }

// .right > div {
// 	width: 60%;
// }

// .right input {
// 	border: 1px solid #d5d5d5;
// 	padding: 10px;
// 	width: 100%;
// 	border-radius: 5px;
// 	margin-bottom: 15px;
// 	outline: none;
// }

// .right button.save {
// 	// background-color: #1AEBB6;
// 	background-color: lightgreen;
// 	border: none;
// 	outline: none;
// 	padding: 10px;
// 	border-radius: 5px;
// 	width: 60%;
// 	margin-left: 20px;
// 	margin-top: 50px;

// 	&:hover {
// 		cursor: pointer;
// 	}
// }

// .right .label {
// 	color: #2a2a2a;
// 	margin-bottom: 5px;
// }
