.container {
	display: grid;
	grid-template-rows: auto 1fr;
	padding: 30px 60px;
	.blocktitle {
		font-size: 16px;
		margin-bottom: 15px;
		a {
			text-decoration: underline;
		}
		.title {
			display: inline;
		}
	}
	.article {
		border: 1px solid #ccc;
		border-radius: 15px;
	}
}
