@import '../../../variables/style.vars.scss';

.container {
	padding-left: 15px;
	padding-right: 15px;
	background: $darkGray;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
}
