/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
 */

@font-face {
	font-family: 'Roboto';
	src: url('assets/fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', 'Arial', 'sans-serif';
	font-size: 14px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #1b1b1b;
	background: rgba(33, 35, 46, 0.7);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
	color: #61626b;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 15px;
	color: #61626b;
}

h2 {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
}

table {
	background: #fff;
}
